<h1>Update Company Info</h1>

<%= form_for @ew_management do |form| %>
	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>
	<div>
		<%= form.label :telephone_number %>
		<%= form.text_field :telephone_number %>
	</div>
	<div>
		<%= form.label :address %>
		<%= form.text_field :address %>
	</div>
	<div>
		<%= form.label :email %>
		<%= form.text_field :email %>
	</div>
	<div>
		<%= form.label :youtube %>
		<%= form.text_field :youtube_token %>
		<p>Insert last 11 characters of video link.</p>
	</div>
	<div>
		<%= form.label :company_bio %>
		<%= form.text_field :company_bio %>
	</div>
	<div>
		<%= form.submit "Update Company Info" %>
	</div>
<% end %>