<div>
	<h1><%= current_user.full_name %></h1>
	<%= link_to 'Update Profile', edit_user_path(current_user) %>
	<%= image_tag current_user.profile_picture.url %>
</div>
<div>
	<h1>Manage Artists</h1>
	<%= link_to '+ Create a new Artist', new_artist_path %>
	<%= render @artists %>
</div>

<div>
	<h1>Manage Company Info</h1>
	<%= link_to 'Edit General Company Information',
		edit_company_path(@ew_management.id) %>
	<p><%= @ew_management.telephone_number %></p>
	<p><%= @ew_management.address %></p>
	<p><%= @ew_management.email %></p>
	<p><%= @ew_management.company_bio %></p>
</div>