<div class='content_left dashboard'>
	<h1 class='dashboard_header top_header'><%= current_user.full_name %></h1>
	<%= link_to '+ Add an Artist +', new_artist_path, class: 'action_link boxed' %>
	<%= link_to 'Update Company Info',
		edit_static_page_path(@about.id), class: 'action_link boxed' %>
	<%= image_tag @about.erick_pic.url %>
	<%= image_tag @about.michael_pic.url %>
</div>
<div class='content_right'>
	<h1 class='centered'>Manage Artists</h1>
	<span class='centered'>
		<%= render @artists %>
	</span>
	<h1 class='header_list centered'>Manage Company Information</h1>
	<p><%= @about.telephone_number %></p>
	<p><%= @about.address %></p>
	<p><%= @about.email %></p>
	<%= simple_format(@about.company_bio) %>
</div>