<div id="nav_container">
	<div id="nav">
		<ul id="nav_list">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", company_path(@ew_management.id) %></li>
			<li>
				<%= link_to "Artists" %>
				<%= render "artists/artist_nav" %>
			</li>
			<li>
				<%= link_to "Updates" %>
				<ul class="subnav updates">
					<li><%= link_to "Events" %></li><!-- TODO: CREATE VIEW -->
					<li><%= link_to "News" %></li><!-- TODO: CREATE VIEW -->
					<li><%= link_to "Releases" %></li><!-- TODO: CREATE VIEW -->
				</ul>	
			</li>
			<li><%= link_to "Contact" %></li>
		</ul>
	</div>
</div>