<!DOCTYPE html>
<html>
	<head>
		<title>E&W Management</title>
		<%= google_webfonts_init(google: ['Oswald', 'Istok Web']) %>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "layouts/admin_nav" %>
		<div id="main">
			<%= image_tag "layout/ewmanagement_logo.png", alt: "E&W Management" %>
			<div id="content_container" class="group">
				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="bottom_container" class="fixed#"><!-- TODO: implement "fixed" functionality -->
			<%= render "layouts/main_nav" %>
			<%= render "layouts/footer" %>
		</div>
	</body>
</html>
