<!DOCTYPE html>
<html>
	<head>
		<title>Hit List Management</title>
		<%= google_webfonts_init(google: ['Oswald', 'Istok Web']) %>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if signed_in? %>
			<%= render "layouts/admin_nav" %>
		<% end %>
		<div id="main">
			<%= image_tag "layout/hitlist_logo.png", alt: "Hit List Management", class: "logo" %>
			<%= render "layouts/main_content" %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>